# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
/*.txt
*.exe

# MacOS
.DS_Store

# ISOs
*.iso

# proprietary mod assets
mod_assets/gz/kanfont_fix16.bfn
mod_assets/gz/Menu1.dat

# intermediary images
*.png
*.jpg

# LLM Agent folders
.grok/
.cursor/
.aider/
.windsurf/
.copilot/
CLAUDE.md
